---
import head from '../html/head.html?raw';
import preamble from '../html/preamble.html?raw';
import postamble from '../html/postamble.html?raw';
import Header from '../components/Header.tsx';
import Hero from '../components/Hero.tsx';
import IntroSection from '../components/IntroSection.tsx';
import Welcome from '../components/Welcome.tsx';
import Aftermovie from '../components/Aftermovie.tsx';
import Team from '../components/Team.tsx';
import Sponsors from '../components/Sponsors.tsx';
import TicketPricing from '../components/TicketPricing.tsx';
import PastGlimpse from '../components/PastGlimpse.tsx';
import Agenda from '../components/Agenda.tsx';
import FAQ from '../components/FAQ.tsx';
import SponsorsFooter from '../components/SponsorsFooter.tsx';
import Grid from '../components/Grid.tsx';
import Contact from '../components/Contact.tsx';
---
<html lang="fr">
<head set:html={head}></head>
<body>
  <Fragment set:html={preamble} />
  <Header />
  <Hero />
  <IntroSection />
  <Welcome />
  <Aftermovie />
  <Team />
  <Sponsors />
  <TicketPricing />
  <PastGlimpse />
  <Agenda />
  <FAQ />
  <SponsorsFooter />
  <Grid />
  <Contact />
  <Fragment set:html={postamble} />
</body>
</html>
